<html>
<html>
<head>
    <title>Sign In Page</title>
</head>
<body>
    <table>
        <tr>
            <td>
                <h1>Welcome to Sign In</h1>
                <form action="../controller/author_login_check.php" method="post">
                    <table>
                        <tr>
                            <td>User Name</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="user_name" id="user_name_id" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Password</td>
                        </tr>
                        <tr>
                            <td>
                                <input type="password" name="password" id="pass_id" required>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="submit" name="signin" value="Sign In">
                                <input type="reset" name="reset" value="Reset">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a href="signup.html">Don't have an account? Sign Up</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>
